.songRow{
    margin-left:20px;
    padding:20px;  /* So they are not bunched up together.*/
    display:flex;
    align-items:center;
    color:white;
}

.songRow:hover{
   cursor:pointer;
   background-color: black;
   opacity:0.8;
}

.sonRow_info{
    margin-left: 20px;
}

.songRow_info >h1{
    font-size:16px;
}

.songRow_info >p{
    font-size: 14px;
    margin-top: 3px;
    color:grey;
}

.songRow_album{
    height:40px;
    width:40px;
}